//Add styling and animations for clickable elements

.clickable {
    cursor: pointer;

    *:active {
        transform: scale(0.90);
        transition: all 0.1s;
    }

    &:hover {
        transform: scale(1.05);
        transition: all 0.1s; 
    }
}