//Define font-face for both text fonts used in the project

@font-face {
    font-family: Artifika;
    src: url("src/fonts/Artifika/Artifika-Regular.ttf");
  }

  @font-face {
    font-family: CrimsonText;
    src: url("src/fonts/CrimsonText/CrimsonText-Regular.ttf");
  }