@font-face {
    font-family: artifika;
    src: url(../../font/Artifika/Artifika-Regular.ttf);
  }

  @font-face {
    font-family: crimsonText;
    src: url(../../font/Crimson_Text/CrimsonText-Regular.ttf);
  }